/* Place your CSS styles in this file */

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron';
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #111;
  color: white;
  font-family: 'Orbitron';
}

.logo {
  height: 100px;
}

header h1 {
    align-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Orbitron'
}
